
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Header{
    width: 100%;
    background: #c471f5;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(196,113,245,0.5), rgba(250,113,205,0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(196,113,245,0.5), rgba(250,113,205,0.5))
    
}
.Main{
   
    height: 500px;
    width: 100%;
   
   
    background:rgba(0, 0, 0, 0.5)url('puzzle.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
display: flex;
  background-blend-mode: darken;
 color: white;
  font-family: 'Mukta', sans-serif;
  background-position: 69%;
  
  justify-content: center;

}

.sam{
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  align-content: flex-start;
  position: relative;
  left: 150px;
  top: 200px;
  padding: 10px;

  
  
}
.image img{
  
  height: 600px;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  align-content: flex-start;
  position: relative;
  right: 60px;
 

 
}
.sami{
  display: inline-block;
}

.Container2{
  height: 1000px;
  background:rgba(0, 0, 0, 0.5)url('puzzle.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
display: flex;
  background-blend-mode: darken;
 color: white;
  font-family: 'Mukta', sans-serif;
  background-position: 69%;
  
  justify-content: center;
 

}
.count{
  position: relative;
  right: 50px;
}


/* CSS */
.button-67 {
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.button-67:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}
        

/* Parent background */


.main-container {
  padding: 30px;
  background-image: url('puzzle.jpg');
  background-position: 69%;
  background-blend-mode: darken;
 
}

/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* .count{
 height: 100px;
 width: 100px;
 background-color: yellow;
 justify-content: baseline;
 display: flex;
 align-items: baseline;
} */

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

.footer-content{
  background: #37ecba;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(55,236,186,0.5), rgba(114,175,211,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(55,236,186,0.5), rgba(114,175,211,0.5));
  height: 200px;
}

footer{
  /* position: absolute; */
  /* bottom: 0; */
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  /* padding-top: 40px; */
  color: #fff;
  /* height: 54vh; */
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  /* max-width: 500px; */
  /* margin: 10px auto; */
  /* line-height: 28px; */
  font-size: 30px;
  color: #ffffff;
}
.footer-content p a{
color: black;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}
.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
 color:#44bae8;
 font-size: 16px;
 text-decoration: none;
}
.footer-bottom span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;
}
.footer-menu{
  float: right;
}

.footer-menu ul{
  display: flex;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover{
  color: #27bcda;
}
@media (max-width:500px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  }

  /* start media query */


@media (max-width:799px) {
  .s1{
  
   height: 70vh;
   padding: 0 80px;
   background-position: top;
  }

  
}
.socials2{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials2 a{
  align-items: center;
  font-size: 34px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.socials2 a:hover{

}
.mark{

  width: 300px;
}



